<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/style.css" />
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/media.css">
    <link rel="stylesheet" href="../resources/css/my.css">
    <link rel="stylesheet" href="../resources/css/vanillatop.min.css">
    <script src="../resources/js/vanillatop.min.js"></script>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>

<body id="body">
    <div class="bgOver">
        <div class="n-container">
            <header>
            <div id="header">
                    <nav>
                     <div class="wrapper">
                       <img  width="250px" src="../resources/images/logo.png" alt="logo">
                       <input type="radio" name="slider" id="menu-btn" />
                       <input type="radio" name="slider" id="close-btn" />
                       <ul class="nav-links">
                         <label for="close-btn" class="btn close-btn">
                            <img width="20px" height="20px"  src="../resources/images/close.png" alt="close-btn" />
                         </label>
                         <div class="search-nav1">
                            <input class="search-input" type="text"  placeholder="Nhập để tìm kiếm" />
                            <img id="search-icon0" src="../resources/images/search-2.png" alt="search-logo">
                          </div>
                         <li ><a class="hover-underline" href="#">Home</a></li>
                         <li><a class="hover-underline" href="#">About</a></li>
                         <li>
                            <a class="hover-underline desktop-item" href="#" >Mega Menu desktop
                             <img style="width: 15px; height: 15px; ; margin-left: 5px;" src="../resources/images/arrow-down.png" alt="logo">
     
                            </a> 
                            <input type="checkbox" class="showMega">
                            <label  for="showMega" class="mobile-item mobi-mega">Mega Menu-mobi 
                                <img  style="width: 15px; height: 15px;" src="../resources/images/arrow-down.png" alt="logo"> 
                         </label>
                            <div class="mega-box">
                              <div class="content">                          
                                <div class="row">
                                 <a  class="hover-underline" href="">VIETNAM</a>
                                </div>
                                <div class="row">
                                    <a  class="hover-underline" href="">VIETNAM</a>
                                </div>
                                <div class="row">
                                    <a  class="hover-underline" href="">VIETNAM</a>
                                </div>
                                <div class="row">
                                    <a class="hover-underline" href="">VIETNAM</a>
                                   </div>
                              </div>
                            </div>
                          </li>
                         <!-- LEVEL 3 -->
                         <li>
                           <a class="hover-underline desktop-item" href="#" >Mega Menu desktop
                            <img style="width: 15px; height: 15px; ; margin-left: 5px;" src="../resources/images/arrow-down.png" alt="logo">
    
                           </a> 
                           <input type="checkbox" class="showMega">
                           <label  for="showMega" class="mobile-item mobi-mega">Mega Menu-mobi 
                               <img  style="width: 15px; height: 15px;" src="../resources/images/arrow-down.png" alt="logo"> 
                        </label>
                           <div class="mega-box">
                             <div class="content">
                               <div class="row">
                                <p style="display: flex;" >Design Services <span>
                                    <img style="width: 15px; height: 15px; ; margin-left: 10px;" src="../resources/images/arrow-down.png" alt="logo">
                                </span></p>
                                <ul class="mega-links">
                                  <li><a class="hover-underline" href="#">Graphics</a></li>
                                  <li><a class="hover-underline" href="#">Vectors</a></li>
                                  <li><a class="hover-underline" href="#">Business cards</a></li>
                                  <li><a class="hover-underline" href="#">Custom logo</a></li>
                                </ul>
                               </div>
                               <div class="row">
                                <a class="hover-underline" href="#">Graphics</a>
                               </div>
                               <div class="row">
                                <p style="display: flex;" >Design Services <span>
                                    <img style="width: 15px; height: 15px; ; margin-left: 10px;" src="../resources/images/arrow-down.png" alt="logo">
                                </span></p>
                                <ul class="mega-links">
                                  <li><a class="hover-underline" href="#">Graphics</a></li>
                                  <li><a class="hover-underline" href="#">Vectors</a></li>
                                  <li><a class="hover-underline" href="#">Business cards</a></li>
                                  <li><a class="hover-underline" href="#">Custom logo</a></li>
                                </ul>
                               </div>
                               <div class="row">
                                <p style="display: flex;" >Design Services <span>
                                    <img style="width: 15px; height: 15px; ; margin-left: 10px;" src="../resources/images/arrow-down.png" alt="logo">
                                </span></p>
                                <ul class="mega-links">
                                  <li><a class="hover-underline" href="#">Graphics</a></li>
                                  <li><a class="hover-underline" href="#">Vectors</a></li>
                                  <li><a class="hover-underline" href="#">Business cards</a></li>
                                  <li><a class="hover-underline" href="#">Custom logo</a></li>
                                </ul>
                               </div>
                               <div class="row">
                                <a  class="hover-underline" href="">VIETNAM</a>
                               </div>
                               <div class="row">
                                <a  class="hover-underline" href="">VIETNAM</a>
                               </div>
                               <div class="row">
                                <a  class="hover-underline" href="">VIETNAM</a>
                               </div>
                             </div>
                           </div>
                         </li>
                         <li><a class="hover-underline" href="#">Feedback</a></li>
                         
                       </ul>
                       <div class="search-nav">
                        <input class="search-input" type="text"  placeholder="Nhập từ khóa tìm kiếm" />
                        <img id="search-icon1" src="../resources/images/search-2.png" alt="search-logo">
                      </div>
                       <label for="menu-btn" class="btn menu-btn">
                        <img src="../resources/images/fenlei.png" alt="logo">
                       </i></label>
                    </div>
                    
                </nav>
            </div>
            <!-- marquee -->
            <div id="marquee">
               <div class="sub-marquee"> Tin tức mới nhất</div>
               <div class="inner">
                 <p>
                   <a class="marquee-item" href="https://www.baidu.com/">1链接观看5月30日Binh Dinh对XM Hai
                       Phong 18h00的直播</a>
                   <a class="marquee-item" href="">2链接观看5月30日Binh Dinh对XM Hai Phong 18h00的直播</a>
                   <a class="marquee-item" href="">3链接观看5月30日Binh Dinh对XM Hai Phong 18h00的直播</a>
                   <a class="marquee-item" href="">4链接观看5月30日Binh Dinh对XM Hai Phong 18h00的直播</a>
                   <a class="marquee-item" href="">5链接观看5月30日Binh Dinh对XM Hai Phong 18h00的直播</a>

                 </p>
               </div>
             </div>
            </header>
           
            <!-- banner -->
            <div class="hero-image">
                <div class="hero-text">
                  <h1 style="font-size:50px">I am Messi</h1>
                  <p> I am a freelance designer, and often receive some outsourcing services. Before I meet the photographer, I need to create each picture by myself, which is time-consuming.</p>
                  <div class="list-banner-link">
                      <button> <a href="http://">Link 1</a></button>
                      <button> <a href="http://">Link 2</a></button>
                  </div>
                </div>
              </div>
            <!-- HOT NEWS-->
            <div class="n-warpper">
                <div class="section-title">
                    <div class="section-container">
                        <section class="section-box">
                            <div class="section-title">
                            Tin Tức Mới
                            </div>
                          
                        </section>
                    </div>
                </div>

                <!-- menu4-active-->
                <ul class="menu-4">
                    <li class="current"><button  data-hover="Tin tức nóng">Tin tức nóng</button></li>
                    <li><button  data-hover="Tin tức trong nước">Tin tức trong nước</button></li>
                    <li><button data-hover="Tin tức quốc tế">Tin tức quốc tế</button></li>
                    <li><button data-hover="Tin tức nóng bóng đá">Tin tức nóng bóng đá</button></li>
                    <li><button data-hover="Tin tức bóng rổ">Tin tức bóng rổ</button></li>
                    <li><button data-hover="Tin tức chuyển nhượng">Tin tức chuyển nhượng</button></li>
                  </ul>

                <!-- articles active-->
                <section class="articles articles-active">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
                  <section class="articles ">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Body2
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
                  <section class="articles ">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Ngoài nước
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
                  <section class="articles ">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Body 4
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
                  <section class="articles ">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Body 5
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
                  <section class="articles ">                  
                    <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2 style="display: -webkit-box;
                            -webkit-line-clamp: 3; 
                            -webkit-box-orient: vertical;
                            overflow: hidden;">Body 6
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                      <article>
                        <div class="article-wrapper">
                          <figure>
                            <img src="../resources/images/banner.jpg" alt="" />
                          </figure>
                          <div class="article-body">
                              <p style="font-size: 15px;">
                                2023-09-21 10:08:03
                              </p>
                            <h2>Thị uy sức mạnh, 
  
                            </h2>
                            <a href="#" class="read-more">
                              Read more <span class="sr-only">about this is some title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </article>
                  </section>
            </div>
            <!-- LINK WATCH FOOTBALL AND IMAGE -->
            <div class="n-warpper">
                <div class="section-title">
                    <div class="section-container">
                        <section class="section-box">
                            <div class="section-title">
                                <span>Link Xem Trực Tiếp Bóng Đá</span>
                                <img src="../resources/images/arrows.png" alt="" srcset="">
                            </div>
                            <div class="introduction">
                                Edit millions of views
                            </div>
                            <div class="line"></div>
                        </section>
                    </div>
                </div>
                <!-- LINK IMAGE CLICK NEW POST -->

                <div class="swiper-container">
    
                    <!-- swiper slides -->
                    <div class="swiper-wrapper">
                        <a
                           href="https://11mlive.news/post/319"
                             class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=24);">
                             <h2 >I AM MESSI </h2>
                        </a>
                        
                        <a class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=53);"> 
                            <h2 >I AM MESSI </h2>
                        </a>
                        
                        <a class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=52);">
                            <h2 >I AM MESSI </h2>
                        </a>
                        
                        <a class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=21);">
                            <h2 >I AM MESSI </h2>
                        </a>
                        
                        <a class="swiper-slide" style="background-image: url(https://source.unsplash.com/random?sig=53);">
                            <h2 >I AM MESSI </h2>
                        </a>
                    </div>
                    <!-- !swiper slides -->
                    
                    <!-- next / prev arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- !next / prev arrows -->
                    
                    <!-- pagination dots -->
                    <div class="swiper-pagination"></div>
                    <!-- !pagination dots -->
                </div>
                <!-- ------------------------------------ -->
            </div>
            <!-- 新闻内容 -->
         <!-- thông tin nóng -->
         <div class="n-warpper">
            <div class="section-title">
                <div class="section-container">
                    <section class="section-box">
                        <div class="section-title">
                            <span>Tin tức nóng</span>
                            <img  src="../resources/images/arrows.png" alt="" srcset="">
                        </div>                  
                    </section>
                </div>
            </div>
            <!-- LINK IMAGE CLICK NEW POST -->

            <div class="grid-container-news">
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/banner.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>     
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/rono.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>  
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/banner.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>  
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/banner.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>  
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/banner.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>  
                <div class="grid-item-news">
                    <div class="center">
                        <div class="article-card-6">
                          <div class="content">
                            <p class="date">2023-09-21</p>
                            <p class="title"> Thị uy sức mạnh, Newcastle chi lớn quyết đón ngôi sao được săn đón số 1 NHA
                            </p>
                            
                          </div>
                          <img src="../resources/images/banner.jpg" alt="article-cover" />
                        </div>
                      </div>
                </div>          
            </div>
            <!-- ------------------------------------ -->
        </div>
<!-- ----------/ thông tin nóng------------------------------- -->
            <!-- tin tức video -->
            <div class="n-warpper">
                <div class="section-title">
                    <div class="section-container">
                        <section class="section-box">
                            <div class="section-title">
                                <span>Tin tức video</span>
                                <img src="../resources/images/arrows.png" alt="" srcset="">
                            </div>                  
                        </section>
                    </div>
                </div>
                <!-- LINK IMAGE CLICK NEW POST -->
    
                <div class="grid-container-news4" th:with="posts=${@articleTag.listWebArticleByTypeCat(9,blogConfig['oly.web.theme.vietnam.cat.biSaiShiJianId'],1,4)}">
                    <div class="grid-item-news4"  th:each="post,postStat:${posts}">
                        
                        <div class="center">
                            <div class="article-card-4">
                              <a class="content" th:href="${blogConfig['oly.web.domain']+'/post/'+post.articleId}">
                                <figure class="card-image">
                                    <img th:src="${post.articleImg}"  alt="tin tức video" />
                                </figure>
                                <div class="card-header">
                                  <p th:text="${post.articleTitle}">Ronaldo chỉ xếp thứ 6</p>
                                  <p th:utext="${post.articleSummary}" style="font-weight: 500; margin-top: 10px;">Nhưng cuộc bình chọn duy nhất 1 người vĩ đại nhất là điều cực khó,
                                    </p>
                                </div>
                                <p class="card-footer">
                                        Jul 26, 2019
                                </p>
                            </a>
                          </div>
                          </div>
                    </div>    
                    

                </div> 
                <!-- ------------------------------------ -->
            </div>
<!-- /tin tức video -->
        </div>
        <div id="footer">
            <footer>
                <div id="footer-box">
                    <div class="n-container">
                        <div class="n-warpper">
                            <ul class="footer-ul flexBox">
                                <li class="footer-li">
                                    <div class="footer-logo">
                                        <img src="../resources/images/icon-logo-1.png"
                                            alt="">
                                    </div>
                                  
                                    <div class="footer-link flexBox">
                                        <a class="footer-href" href="#">Thái Sơn</a>
                                        <a class="footer-href" href="#">Nam</a>
                                        <a class="footer-href" href="#">Soco</a>
                                        <a class="footer-href" href="#">Soco</a>
                                        <a class="footer-href" href="#">Soco</a>
                                        <a class="footer-href" href="#">Soco</a>
                                    </div>
                                </li>
                                <li class="footer-li">
                                    <div class="title">
                                        <span class="footer-t">Giới thiệu
                                            <span class="cirle"></span>

                                        </span>

                                    </div>
                                    <div class="content">
                                        Socolive.news – Trang tin tức thể thao bóng đá luôn cập nhật những tin tức mới
                                        nhất trong
                                        ngày. Thông
                                        tin nhận định bóng đá, tin soi kèo, tỷ số, kết quả, lịch thi đấu, BXH bóng đá,
                                        tin tức
                                        chuyển nhượng,
                                        tin hot trend nóng hổi luôn được cập nhật 24h.
                                    </div>
                                </li>
                                <li class="footer-li">
                                    <div class="title">
                                        <span class="footer-t">Liên hệ nhanh
                                            <span class="cirle"></span>
                                    </div>
                                    <div class="content">
                                        Tổng biên soạn: Sóc hát hay
                                        Địa chỉ tòa soạn: 37 Nguyễn Đình Chiểu, Đa Kao, Quận 1, Thành phố Hồ Chí Minh
                                        Giờ làm việc: 24/7 Hoạt động từ Thứ 2 – Chủ Nhật (Bao gồm cả ngày nghỉ lễ)
                                        Telegram: @chinchin1201
                                        Email: hoptacsocolive@gmail.com
                                    </div>
                                </li>
                                <li class="footer-li">
                                    <div class="title">
                                        <span class="footer-t">Thông tin
                                            <span class="cirle"></span>
                                    </div>
                                    <div class="footer-alink flexBox">
                                        <a style="display: flex;  align-items: center; font-size: 16px;cursor: pointer;">
                                            <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                            <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                         <span style="margin-left: 5px;"> Home</span>
                                         </a>
                                         <a style="display: flex;  align-items: center; font-size: 16px;cursor: pointer;">
                                          <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                          <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                       <span style="margin-left: 5px;"> About</span>
                                       </a>
                                       <a style="display: flex;  align-items: center; font-size: 16px;cursor: pointer;">
                                        <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                        <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                     <span style="margin-left: 5px;"> Infomation</span>
                                     </a>
                                     <a style="display: flex;  align-items: center; font-size: 16px;cursor: pointer;">
                                      <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                      <img width="7px" src="../resources/images/arrow.svg" alt="arrow-right">
                                   <span style="margin-left: 5px;"> Home</span>
                                   </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright ">
                    <div class="n-container flexBox">
                        <div class="n-warpper">
                            <div class="copyright-box flexBox">
                                <div>
                                    Copyright @2023 Bản quyền thuộc 39 Live Score
                                </div>
                                <div class="copyright-link flexBox">
                                    <a href="">
                                        <img src="../resources/images/twitter.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="../resources/images/facebookf.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="../resources/images/Youtube.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="../resources/images/soundcloud.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="../resources/images/instagram.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="../resources/images/telegram.png" alt="">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    

       
           <!-- message -->
           <div class="message-box">
            <div class="msg-box">
                <div class="close-btn">
                    <img src="../resources/images/close.png" alt="" srcset="">
                </div>
                <div class="msg-main flexBox">
                    <div class="msg-title">Contact Us </div>
                    <div class="msg-input">
                        <div class="input-box">

                            <input type="number" placeholder="Your Phone" id="phone">
                            <span>*</span>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Email" id="email">
                            <span>*</span>
                        </div>
                        <div class="input-box">
                            <textarea name="" id="fromBy" rows="3" placeholder="Message"></textarea>
                            <span>*</span>
                        </div>
                    </div>
                    <div class="submit-btn fromByBtn ">
                        <span> Submit</span>
                    </div>
                    <div>Add free live chat to your site</div>
                </div>
    
            </div>
            <div class="send-msg-btn flexBox">
                <img src="../resources/images/info.png" alt="" srcset="">           
            </div>
        </div>
        <!-- button back to top -->
    <button class="vanillatop"></button>
        <script type="text/javascript" src="../resources/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script  >
            $('.fromByBtn').click(function () {
                var value = $("#fromBy").get(0).value;
                var phone = $("#phone").get(0).value;
                var email = $("#email").get(0).value;
                if(phone.length === 0){
                    showMessage('Vui lòng nhập số điện thoại!', 0);
                    return;
                }
                if(email.length === 0){
                    showMessage('Vui lòng nhập địa chỉ hộp thư!', 0);
                    return;
                }
                if (!checkEmail(email)) {
                    // 不正确的邮箱格式
                    showMessage('Vui lòng nhập đúng địa chỉ email!', 0);
                    return;
                }
                if(value.length < 2){
                    showMessage('Bình luận Tối thiểu 2 ký tự!', 0);
                    return;
                }
                if(value.length > 0){
                    var data = {
                        'fromBy' : '111',
                        'typeId' : '1',
                        'content' : value,
                        'phone' : phone,
                        'email' : email,
                        'type' : 'SITE',
                        'remark' : 'vietnam'
                    }
                    $.ajax({
                        async: true,
                        url: '/web/hand/comment/visitorAddComment',
                        type: 'POST',
                        data : { ...data },
                        dataType: 'json',
                        timeout: 3000,
                        success: function(res){
                            console.log(res);
                            if(res.code === 0){
                                setTimeout(function(){
                                    $('.msg-box').hide();
                                },500)
                                showMessage("Thành công", 1);
                            }else{
                                showMessage(res.msg, 0);
                            }
                        },
                        error: function(res){
    
                        },
    
                    })
                }else{
                    showMessage('Please enter a message to submit', 0);
                }
            })
    
            $('.send-msg-btn').click(function () {
                $('.msg-box').show();
            })
            $('.close-btn').click(function () {
                $('.msg-box').hide();
            })
    
            var win_h = $(window).height();
            window.addEventListener('resize', function () {
                if ($(window).height() < win_h) {
                    $(".message-box").addClass('active');
                } else {
                    $(".message-box").removeClass('active');
                }
            });
    
            $(".keySearch").click(function() {
                console.log(1, $("#keyWord").val());
                console.log(2, $("#keyWord").val() != "");
                if ($("#keyWord").val() != "") {
                    location.href = $(".keySearch").attr('data-url') + "?keyWord=" + $("#keyWord").val();
                }
            });
            $(".keySearch1").click(function() {
                console.log(1, $("#keyWord1").val());
                console.log(2, $("#keyWord1").val() != "");
                if ($("#keyWord1").val() != "") {
                    location.href = $(".keySearch1").attr('data-url') + "?keyWord=" + $("#keyWord1").val();
                }
            });
            $(".keySearch2").click(function() {
                console.log(1, $("#keyWord2").val());
                console.log(2, $("#keyWord2").val() != "");
                if ($("#keyWord2").val() != "") {
                    location.href = $(".keySearch2").attr('data-url') + "?keyWord=" + $("#keyWord2").val();
                }
            });
    
            function showMessage(message, type) {
                let messageJQ= $("<div class='showMessage'>" + message + "</div>");
                if (type == 0) {
                    messageJQ.addClass("showMessageError");
                } else if (type == 1) {
                    messageJQ.addClass("showMessageSuccess");
                }
                // 先将原始隐藏，然后添加到页面，最后以400毫秒的速度下拉显示出来
                messageJQ.hide().appendTo("body").slideDown(400);
                // 4秒之后自动删除生成的元素
                window.setTimeout(function() {
                    messageJQ.show().slideUp(400, function() {
                        messageJQ.remove();
                    })
                }, 4000);
            }
            function checkEmail(email) {
                var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (reg.test(email)) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
</body>
</html>